<a href="https://colab.research.google.com/github/abdishifa234/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [129]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

In [130]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2020-07-11 01:23:08--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.166.36.92, 34.213.98.158, 52.11.197.48, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.166.36.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip.2’

LoanStats_2018Q3.cs     [       <=>          ]  22.31M  2.92MB/s    in 8.3s

2020-07-11 01:23:16 (2.67 MB/s) - ‘LoanStats_2018Q3.csv.zip.2’ saved [23395356]

In [131]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
replace LoanStats_2018Q3.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: no

In [10]:
df=pd.read_csv('LoanStats_2018Q3.csv')
print(df.shape)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128197, 1)

In [136]:
df.head()

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [135]:
df.tail()

                                                      id  ...  settlement_term
128191                                               NaN  ...              NaN
128192                                               NaN  ...              NaN
128193                                               NaN  ...              NaN
128194  Total amount funded in policy code 1: 2063142975  ...              NaN
128195   Total amount funded in policy code 2: 823319310  ...              NaN

[5 rows x 144 columns]

In [ ]:
#In order to adjust the columns we have to use other parameters in pd.read_csv()
# by passing header=1 or skiprows=0

In [134]:
df=pd.read_csv('LoanStats_2018Q3.csv',header=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128196, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
#Lets check the null values in the datafarme

In [137]:
df.isnull().sum()

id                       128194
member_id                128196
loan_amnt                     2
funded_amnt                   2
funded_amnt_inv               2
                          ...
settlement_status        127052
settlement_date          127052
settlement_amount        127052
settlement_percentage    127052
settlement_term          127052
Length: 144, dtype: int64

In [138]:
df.isnull().sum().sort_values()

inq_fi                           2
delinq_amnt                      2
chargeoff_within_12_mths         2
acc_open_past_24mths             2
inq_last_12m                     2
                             ...
settlement_percentage       127052
id                          128194
desc                        128196
url                         128196
member_id                   128196
Length: 144, dtype: int64

In [139]:
# Now lets drop the last two rows and see what will happen
df=pd.read_csv('LoanStats_2018Q3.csv',header=1,skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

(128194, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [140]:
df.isnull().sum().sort_values()

inq_fi                           0
delinq_amnt                      0
chargeoff_within_12_mths         0
acc_open_past_24mths             0
inq_last_12m                     0
                             ...
settlement_percentage       127050
desc                        128194
url                         128194
member_id                   128194
id                          128194
Length: 144, dtype: int64

In [141]:
# Then we have to drop the last four columns which have so many null values
df=df.drop(['url','id','member_id','desc'],axis=1)
print(df.shape)
df.head()

(128194, 140)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       9000         9000  ...                    NaN             NaN
1      16000        16000  ...                    NaN             NaN
2       5000         5000  ...                    NaN             NaN
3      20000        20000  ...                    NaN             NaN
4      20500        20500  ...                    NaN             NaN

[5 rows x 140 columns]

Question 1 Convert the term column from string to integer.

In [142]:
#Now lets convert the 'term' column' from string to intiger
df.dtypes

loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv            int64
term                      object
int_rate                  object
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 140, dtype: object

In [143]:
df['term']

0          36 months
1          36 months
2          36 months
3          36 months
4          36 months
             ...
128189     36 months
128190     36 months
128191     36 months
128192     36 months
128193     36 months
Name: term, Length: 128194, dtype: object

In [144]:
df['term'].value_counts(dropna=False).head()

 36 months    89574
 60 months    38620
Name: term, dtype: int64

In [145]:
# Now lets the first cell of the term column and then we will fix the whole column
df['term'][0]

' 36 months'

In [146]:
# lets  save the first value of the term column in to a variable called dirty_value
string= ' 36 months'

In [ ]:
# So the problem that we want fix are 
    # Leading space
    # the word month
    # converting or casting to from string to intiger

In [147]:
#To fix leading space and to remove the word 'month' we use the .stripe() function
string.strip()

'36 months'

In [148]:
# now lets remove the word months
string.strip().strip('months')

'36 '

In [149]:
type(string.strip().strip('months'))

str

In [150]:
# we removed the leading space and the word months and now lets convert the value from string to intiger
int(string.strip().strip('months'))

36

In [151]:
# Now lets check wether the value is converted from string to intiger
type(int(string.strip().strip('months')))

int

In [152]:
# OK lets try to work for the term colum as a whole
# So in this case we use the following options
    # for loop and writing a function
    # list comperehension
    # using apply function that works for every value in the column

In [153]:
# first lets write a function that converts string to intiger
def string_to_int(cell):
  return int(string.strip().strip('months'))

In [154]:
# lets check if the function works
string_to_int(' 36 months')

36

In [155]:
# using For loop
new_list=[]

for cell in df['term']:
  new_list.append(string_to_int(cell))

In [156]:
# now lets see the first five values
new_list[:5]

[36, 36, 36, 36, 36]

In [157]:
# Lets convert the list in to a new column datafarame
df['term_cleaned'] = pd.Series(new_list)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term term_cleaned
0       9000         9000  ...              NaN           36
1      16000        16000  ...              NaN           36
2       5000         5000  ...              NaN           36
3      20000        20000  ...              NaN           36
4      20500        20500  ...              NaN           36

[5 rows x 141 columns]

In [158]:
# Using list comperehension and lets see the first three values
[string_to_int(cell) for cell in df['term']][:3]

[36, 36, 36]

In [159]:
# Ok now lets use the .apply() function to do the all the above steps steps once but in this case
# I will try to over write the old term column becouse I already created new column in the above steps
df['term']=df['term'].apply(string_to_int)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term  term_cleaned
0       9000         9000  ...              NaN            36
1      16000        16000  ...              NaN            36
2       5000         5000  ...              NaN            36
3      20000        20000  ...              NaN            36
4      20500        20500  ...              NaN            36

[5 rows x 141 columns]

Question 2 
Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [160]:
#if 'loan_stautus is great or full paid'= True otherwise False
# Lets see the most common value of the loan status column
df['loan_status'].value_counts(dropna=False)

Current               76333
Fully Paid            38043
Charged Off           11568
Late (31-120 days)     1142
In Grace Period         878
Late (16-30 days)       220
Default                  10
Name: loan_status, dtype: int64

In [161]:
# lets write if condition that satisfies our requiremnts 
def great(loan_status):
  if loan_status == 'Current' or loan_status == 'Fully paid':
    return 1
  else:
    return 0

In [162]:
# Now lets apply the above function to the loan status column 
df['loan_status_is_great'] = df['loan_status'].apply(great)

In [163]:
# check the condition and see if it works
df['loan_status_is_great'].value_counts(dropna=False)
# df['loan_status']

1    76333
0    51861
Name: loan_status_is_great, dtype: int64

Quesion 3 Make last_pymnt_d_month and last_pymnt_d_year columns.

In [164]:
# as a for loop:
mylist=[]
for col in df.columns:
  if col.endswith('_d'):
    mylist.append(col)

In [165]:
mylist

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [166]:
df['last_pymnt_d'].head()

0    Jun-2020
1    Jun-2020
2    Jun-2020
3    Jun-2020
4    Jun-2020
Name: last_pymnt_d, dtype: object

In [167]:
#Now lets convert the last_payment_d column from string to datetime format
df['last_pymnt_d']=pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)

In [168]:
# Now lets see the data type of the last_pyment_d column
df['last_pymnt_d'][:3]

0   2020-06-01
1   2020-06-01
2   2020-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [169]:
#Now lets grab the year from last-pymnt_d column and make a new column with it
df['last_pymnt_year']=df['last_pymnt_d'].dt.year
df['last_pymnt_year'].dtype

dtype('float64')

In [92]:
#I dont know why i changed from string to date format but it data type is float

In [170]:
# Now lets grab the year and month from this last_pymnt_d column using .dt accessor 
#and make new column
df['month']=df['last_pymnt_d'].dt.month
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_year  month
0       9000         9000  ...           2020.0    6.0
1      16000        16000  ...           2020.0    6.0
2       5000         5000  ...           2020.0    6.0
3      20000        20000  ...           2020.0    6.0
4      20500        20500  ...           2020.0    6.0

[5 rows x 144 columns]

In [171]:
#Now lets try convert the 'next_pymnt_d' column from string to datetime format
df['next_pymnt_d'].head()

0    Jul-2020
1    Jul-2020
2    Jul-2020
3    Jul-2020
4    Jul-2020
Name: next_pymnt_d, dtype: object

In [177]:
# df['next_pymnt_d']=pd.to_datetime(df['next_pymnt_d'],infer_datetime_format=True)
# df['next_pymnt_d'].head()

df['next_pymnt_d'] = pd.to_datetime(df['next_pymnt_d'], format='%Y%m%d')
df['next_pymnt_d'].head()

0   2020-07-01
1   2020-07-01
2   2020-07-01
3   2020-07-01
4   2020-07-01
Name: next_pymnt_d, dtype: datetime64[ns]

In [178]:
#Now lets try to make a new column of the year and month from this column by
# using .dt accessor

df['month']=df['next_pymnt_d'].dt.month
df['year']=df['next_pymnt_d'].dt.month

In [121]:
df['next_pymnt_d'].describe()

count                   78583
unique                      9
top       2020-07-01 00:00:00
freq                    73926
first     2020-03-01 00:00:00
last      2020-11-01 00:00:00
Name: next_pymnt_d, dtype: object

In [174]:
#Now lets check the first five cells/values of the month and the year column
df['month'].head()

0    7.0
1    7.0
2    7.0
3    7.0
4    7.0
Name: month, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01